* {
  margin: 0 auto;
}
body {
  position: relative;
  /* background-image: url(../public/MicrosoftTeams-image\\(8\.png)); */
}

.navbar {
  height: 100vh;
  background-color: black;
  width: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  left: 0;
  position: fixed;
}
.icon {
  width: 3vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: rgb(26, 26, 26);
}
.delivery {
  width: 25vw;
  border-radius: 3rem;
  height: 90vh;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15rem;
 
}
.button {
    background-color: blue;
    border: none;
    height: 3vh;
    border-radius: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    
  }
 .button #1 {
    background-color: red;
    border-radius: 2rem;
  }
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
